*{
    box-sizing: border-box;
}
:root{
    --font_web:"Raleway", sans-serif;
    --color-text:#1e1e1e;
    --color-body:#212529;
    --color-desc:#777777;
    --background-hover:#8261ee;
    --background-un_hover:#ff589e;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
ul{
  list-style-type: none; 
  padding: 0px; 
  margin: 0px;
}


@media (max-width: 1199.98px){
    .header .nav-menu .list-menu ul li{
        padding-left: 24px;
    }
}
@media (max-width: 991.98px){
    .header .wrap{
        display: none;
    }
    .header .nav-menu a  .bar{
        display: block;
        display: flex;
        justify-content: flex-end;
    }
    .section-two .first, .section-two .second{
        margin-bottom: 30px;
    }
    .section-three .container  .img, .section-four .container  .img {
        margin-bottom: 30px;
    }
    .section-six .row-two .set{
        margin-bottom: 30px;
    }
    .section-nine .row-two .set1{
        margin-bottom: 30px;
    }
    .section-six .row-two .set:nth-last-child(1){
        margin-bottom: 0px;
    }
    .section-six .row-two .Card.last{
        margin-bottom: 0px;
    }
    .section-eight .count .number::before{
        display: none;
    }
    .section-eight .count .inner1, .section-eight .count .inner2{
        margin-bottom: 30px;
    }
}
@media (max-width: 767.98px){
    .section-one .title{
        font-size: 22px;
    }
    .section-eight .count .inner3{
        margin-bottom: 30px;
    }
}
@media (max-width: 575.98px){
    
}